.task-manager {
    padding: var(--padding-large);
    background-color: var(--background-color);
  }
  
  .form {
    margin-bottom: var(--padding-large);
    padding: var(--padding-base);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--shadow-light);
  }
  
  .error-message {
    color: red; 
    margin-bottom: var(--padding-large);
  }
  
  .column {
    flex: 1; 
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--padding-base);
    box-shadow: var(--shadow-light);
  }

  .column-header {
    font-size: var(--font-size-large);
    font-family: var(--heading-font-family);
    margin-bottom: var(--padding-base);
    text-align: center; 
  }

  .task {
    padding: var(--padding-base);
    margin: var(--padding-base) 0;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
  }
  